.todo {
  display: flex;
  padding: 10px;
  border: 1px solid #a1a1a1;
  box-shadow: 1px 1px 1px #a1a1a1;
  margin: 5px;
}

.todo img {
  width: 70px;
  object-fit: contain;
}

.todo .main {
  padding-left: 20px;
}

.todo .buttons {
  margin-left: auto;
}
