<form action="/todos" method="POST" enctype="multipart/form-data">
  <h3>Ajouter une tâche</h3>
  <input type="text" name="title" required placeholder="Titre" />
  <input type="text" name="description" required placeholder="Description" />
  <input type="file" name="image" placeholder="Ajouter une image ?" />
  <button type="submit">Go!</button>
</form>
